* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

.link {
  display: block;
  text-decoration: none;
  color: #2290b3;
  font-size: 15px;
  text-align: end;
}

.link:hover {
  text-decoration: none !important;
}

body {
  background-color: #2290b3;
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: #ff8000;
}

form {
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 15px;
}

form .input-block label {
  font-size: 18px;
  color: #ff8c19;
  margin-bottom: 0px;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #848484;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
}

form .btn-login {
  display: block;
  min-width: 100%;
  border: none;
  background-color: #2290b3;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
  margin-top: 15px;
}
